/* Global Color Variable */
$normalColor: #435466;
$darkColor: #2D4054;
$yellow: #FF9A2A;
$green: #7FBC39;
$cyanBlue: #00B4CF;
$darkBlue: #01869A;
$backgroundColor: #F3F3F3;
$lightGrey: #C1C4C6;
$menuBackground: #314052;
$menuHover: #465464;