.cruise-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4px;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 1px -4px 10px rgba(0, 0, 0, .1);
}