@import '../../styles/_variables';

.cruise-history {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: $menuBackground;

    h1 {
        font-size: 24px;
        color: #cccccc;
    }

    .history-list {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        max-height: 240px;
        overflow-y: auto;
        list-style: outside;

        .history-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:hover {
                color: $cyanBlue;
            }
        }

        .item-dot {
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-right: 14px;
            background-color: #999999;
        }

        p {
            max-width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}