@import './styles/_variables';

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #435466;
    background-color: $backgroundColor;
    font-family: "cruise","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Global Style */
.iconfont {
    font-size: 20px;
}
